{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %} Welcome Member {% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <img src="{% static 'images/logo-vitalio-midnight-green.png' %}" class="my-5">
    </div>
    <div class="row justify-content-center">
        <div class="col-md-5">
            <label class="display-4">One more thing.</label>
            <p class="lead">Tell us who you are</p>
            <div class="card px-4 py-4 shadow-sm">
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <input type="submit" value="Register" class="btn rounded-0 btn-success">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}