{% extends 'member/base.html' %}

{% block title %} Welcome! {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center my-5">
        
        <div class="col-md-5">
            {% if messages %}
                            {% for message in messages %}
                            <div{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</div>
                            {% endfor %}
            {% endif %}

            <h1 class="display-4">Welcome {{ profile.first_name }}</h1>
            <p class="lead">What can we help you with today?</p>
            <a class="btn btn-dark btn-lg rounded-0 shadow" href="{% url 'start_assessment' %}">Book session</a>

        </div>
    </div>
</div>

{% endblock %}