{% extends 'member/base.html' %}
{% load crispy_forms_tags %}
{% load permission_tags %}
{% load static %}

{% block title %} Profile {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">

        <div class="col-md-3">
            <div class="nav card shadow-sm px-2 py-2 flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Your Profile</a>
                <a class="nav-link" id="v-pills-password-tab" data-toggle="pill" href="#v-pills-password" role="tab" aria-controls="v-pills-password" aria-selected="false">Password</a>
                {% if user.role == 3 or user.role == 8 %}
                    <a class="nav-link" id="v-pills-company-tab" data-toggle="pill" href="#v-pills-company" role="tab" aria-controls="v-pills-company" aria-selected="false">Company Details</a>
                    <a class="nav-link" id="v-pills-invite-tab" data-toggle="pill" href="#v-pills-invite" role="tab" aria-controls="v-pills-invite" aria-selected="false">Invite Members</a>
                {% endif %}
                {% if user.role == 1 %}
                    <a class="nav-link" id="v-pills-subscription-tab" data-toggle="pill" href="#v-pills-subscription" role="tab" aria-controls="v-pills-subscription" aria-selected="false">Subscription</a>
                {% endif %}
            </div>
        </div>

        <div class="col-md-7">
            {% if messages %}
                {% for message in messages %}
                    <div{% if message.tags %} class="alert alert-success"{% endif %}>{{ message }}</div>
                {% endfor %}
            {% endif %}
            <div class="tab-content" id="v-pills-tabContent">
                <!-- start of profile tab -->
                <div class="tab-pane fade show active" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                    <div class="card shadow px-4 py-4">
                        <form method="POST">
                            {% csrf_token %}
                        <div class="media">
                            <!-- <img src="{{ profile.profile_image.url }}" class="mr-3 rounded-circle" alt="..." width="100" height="100"> -->
                            <div class="media-body">
                                <!-- <div class="custom-file custom-file-naked d-block mb-1">
                                    <div class="custom-file">
                                        <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                                        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                    </div>
                                </div> -->
                                <!-- <small>For best results, use an image at least 256px by 256px in either .jpg or .png format</small> -->
                                <!-- <hr> -->
                                {{ form|crispy }}
                                <button class="btn btn-primary" type="submit">Update</button>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
                <!-- end of profile tab -->
                <!-- start of password tab -->
                <div class="tab-pane fade" id="v-pills-password" role="tabpanel" aria-labelledby="v-pills-password-tab">
                    <form method="POST" action="{% url 'change_password' %}">
                        {% csrf_token %}
                        <div class="card shadow-sm px-4 py-4">
                            {{ password|crispy }}
                            <input type="submit" value="Change" class="btn btn-primary">
                        </div>
                    </form>
                </div>
                <!-- end of password tab -->
                <!-- start of company tab -->
                <div class="tab-pane fade" id="v-pills-company" role="tabpanel" aria-labelledby="v-pills-company-tab">
                    <div class="card shadow px-4 py-4">
                        <form>
                            <h6 class="border-bottom py-3 h3">Company Details</h6>
                            <label class="my-2"><strong>Company Name</strong></label><br>
                            <label class="text-muted">{{ membership.organization.organization_name }}</label>
                            <br>
                            {% if subscription.status == 1 %}
                                <label class="my-2"><strong>Subscription Status</strong></label><br>
                                <label class="text-muted">{{ subscription.get_subscription_plan_display }}</label>
                            {% else %}
                                <label class="my-2"><strong>Subscription</strong></label><br>
                                <a class="btn rounded-0 btn-dark">Start Subscription</a>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- end of password tab -->
                <!-- start of invite tab -->
                <div class="tab-pane fade" id="v-pills-invite" role="tabpanel" aria-labelledby="v-pills-invite-tab">
                    <div class="card shadow px-4 py-4">
                        <h6 class="border-bottom py-3 h3">Invite your organization's members</h6>
                        <form method="post" action="{% url 'invite_members' %}">
                            {% csrf_token %}
                            <div class="form-group">
                              <input type="email" class="form-control w-50" name="members" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                              <small id="emailHelp" class="form-text text-muted">You can enter multiple emails separated by commas.</small>
                            </div>
                            <button type="submit" class="btn btn-dark rounded-0">Invite</button>
                        </form>
                    </div>
                </div>
                <!-- end of invite tab -->
                <!-- start of subscription tab -->
                <div class="tab-pane fade" id="v-pills-subscription" role="tabpanel" aria-labelledby="v-pills-subscription-tab">
                    <div class="card shadow px-4 py-4">
                        <h6 class="border-bottom py-3 h3">Your subscriptions</h6>
                        <form method="post">
                            {% csrf_token %}
                            {% if subscription.status == 2 %}
                                <button type="submit" class="btn btn-dark rounded-0">Start subscription</button>
                            {% else %}
                                <label>{{ subscription.get_status_display }}</label>
                            {% endif %}
                        </form>
                    </div>
                </div>
                <!-- end of subscription tab -->
            </div>
        </div>

    </div>
</div>
{% endblock %}