{% extends 'pages/base.html' %}
{% load static %}

{% block title %} Our Mission {% endblock %}

{% block content %}

<section class="container-fluid d-flex align-items-center my-5 py-5">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h1 class="display-2 font-manrope-bold">Our mission is to democratize healthcare.</h1>
            <p class="lead mt-5">We want to say that we get it.</p>
            <p class="lead">Most of the time you're at work and things get hard. You need someone to talk to.
                We get it. We want to make it easy to get the right help whenever you need it.
            </p>
            <p class="lead">Maybe you've been scared to tell your boss how you're feeling mentally because
                you're afraid of the perception or you feel weird about it.
            </p>
            <p class="lead">Here at Vitalio, we want to take the step with you to make sure you're better.
                It's not easy admitting that you're not okay but you will be okay.
            </p>
            <p class="lead">Nothing is more important than your mind.</p>
        </div>
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}