{% extends 'pages/base.html' %}
{% load static %}

{% block title %} About Us {% endblock %}

{% block content %}
<section class="container-fluid">
    <div class="row justify-content-center my-4 py-4">
        <div class="col-md-8">
            <h1 class="display-4">Our Mission</h1>
            <p class="lead">Our mission is simple, to democratize healthcare.</p>
            <p class="lead">Vitalio allows employees to access mental healthcare services on the web.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 class="display-4">Meet The Team</h1>
            <p class="lead">These are the people behind the mission.</p>
            <div class="team d-flex  my-5">
              <div class="person">
                  <div class="image"><img src="{% static 'images/face.jpg' %}" class="image"></div>
                  <div class="name my-2">Obakeng Mosadi</div>
                  <div class="title font-montserrat">Co-Founder, CEO</div>
              </div>
              <div class="person mx-5">
                <div class="image"><img src="{% static 'images/face.jpg' %}" class="image"></div>
                <div class="name my-2">Pat Lukele</div>
                <div class="title font-montserrat">Co-Founder, COO</div>
              </div>
            </div>
        </div>
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}