<footer class="container-fluid footer">
    <div class="row mt-5 pt-5 justify-content-center border-top">
        <div class="col-md-10">
            <div class="row my-5 py-3">
                <div class="col-md-6">
                    <label>Company</label>
                    <ul class="navbar-nav">
                        <a href="{% url 'about' %}"><li class="navbar-item footer-link font-montserrat ">About</li></a>
                    </ul>
                </div>
                <!-- <div class="col-md-4">
                    <label>Resources</label>
                    <ul class="navbar-nav">
                        <li class="navbar-item font-montserrat">Blog</li>
                    </ul>
                </div> -->
                <div class="col-md-6">
                    <label>Stay In Touch</label>
                    <ul class="navbar-nav">
                        <li class="navbar-item font-montserrat">hello@vitalio.co</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
