<footer class="container-fluid">
    <div class="row my-5 py-5 justify-content-center border-top">
        <div class="col-md-10">
            <div class="row">
                <div class="col-md-4">
                    <label>Company</label>
                    <ul class="navbar-nav">
                        <li class="navbar-item font-montserrat">About</li>
                        <li class="navbar-item font-montserrat">Contact</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <label>Resources</label>
                    <ul class="navbar-nav">
                        <li class="navbar-item font-montserrat">Blog</li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <label>Stay In Touch</label>
                    <ul class="navbar-nav">
                        <li class="navbar-item font-montserrat">hello@vitalio.co</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
