{% load static %}
<section class="container footer my-5 py-5">
    <div class="row justify-content-center my-4 py-5">
        <div class="col-sm-6 my-4">
            <img src="{% static 'images/Logo.svg' %}">
            <p class="lead text-muted mt-3">made with &#129505; in South Africa.</p>
        </div>
        <!-- <div class="col-sm-2 my-4">
            <label class="h5 text-caribbean">Company</label>
            <ul class="nav flex-column font-poppins-light">
                <li class="nav-item text-dark">
                  <a class="text-dark" href="{% url 'about' %}">Mission</a>
                </li>
                <li class="nav-item text-dark">
                  Careers
                </li>
            </ul>
        </div> -->
        <!-- <div class="col-sm-2 my-4">
            <label class="h5 text-caribbean">Resources</label>
            <ul class="nav flex-column font-poppins-light">
                <li class="nav-item text-dark">
                  Blog
                </li>
            </ul>
        </div> -->
        <div class="col-sm-3 my-4">
            <label class="h5 text-caribbean">Social</label>
            <ul class="nav flex-column font-poppins-light">
                <li class="nav-item text-dark">
                    <a class="text-dark" href="https://www.linkedin.com/company/vitalioco"><i class="bi bi-linkedin"></i> LinkedIn</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-3 my-4">
            <label class="h5 text-caribbean">Contact Us</label>
            <ul class="nav flex-column font-poppins-light">
                <li class="nav-item text-dark">
                    hello@vitalio.co
                </li>
            </ul>
        </div>
    </div>
    <div class="row justify-content-center mt-5 pt-4">
        <div class="col-md-12 pt-5 mt-5">
            <ul class="nav flex-inline font-manrope-bold">
                <li class="nav-item text-white">
                    Vitalio &copy; 2021
                </li>
                <li class="nav-item mx-5 text-white">
                    Privacy Policy
                </li>
                <li class="nav-item text-white">
                    Terms Of Use
                </li>
            </ul>
        </div>
    </div>
</section>
