{% extends 'pages/base.html' %}
{% load static %}

{% block title %} vitalio. {% endblock %}

{% block content %}
    <section class="container d-flex align-items-center mt-4 pt-4">
        <div class="row justify-content-center">
            <div class="col mx-3 col-sm-12">
                <div class="my-5">
                    <h1 class="display-4 font-manrope-bold">The platform that lets you subscribe to doctors and psychologists.</h1>
                    <p class="lead text-muted">Vitalio lets you pay as little as R120 per month to direct video and audio access to healthcare professionals.
                    </p>
                    <form class="form-inline" method="POST" action="{% url 'waitlist' %}">
                        {% csrf_token %}
                        <div class="form-group mr-3">
                            <input type="text" name="waitlist" class="form-control form-control-lg" placeholder="Enter email to get notified"/>
                        </div>
                        <button class="btn btn-primary shadow bg-maximum-red-white btn-lg" type="submit">Notify Me</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

    {% include 'pages/footer.html' %}

{% endblock %}