{% extends 'pages/base.html' %}
{% load static %}

{% block title %} For You | vitalio. {% endblock %}

{% block content %}

<section class="container-fluid splash d-flex align-items-center">
    <div class="row justify-content-center my-5 py-5">
        <div class="col-sm-5 py-5 my-4">
            <div class="my-5">
                <h1 class="display-1 font-manrope-bold">A therapist
                    or counsellor,
                    close to you.</h1>
                <p class="lead">Now you can put a face to the therapist you speak to at work.
                    No need to Google Search the right therapist. Or go too far.
                    Or pay too much. Or spend too much time booking an
                    appointment.
                </p>
            </div>
        </div>
        <div class="col-sm-5 d-none d-md-block d-sm-none py-5 my-4">
            <div class="my-4 align-items-center d-flex justify-content-center">
                <img src="{% static 'images/danielle.jpg' %}" class="shadow" width="700" height="500">
            </div>
        </div>
    </div>
</section>

<section class="container-fluid patients bg-maximum-red d-flex align-items-center">
    <div class="row justify-content-center py-5 my-5">
        <div class="col-md-4 mx-4 my-5 py-5">
            <h1 class="display-1 text-white font-manrope-bold">
                It Gets Hard
                Sometimes.
                We Get It.
            </h1>
        </div>
        <div class="col-md-4 mx-4 my-5 py-5 text-white">
            <h3 class="font-manrope-bold">Here's what we can do.</h3>
            <div class="my-3">
                <p class="lead">Here's what we can do.</p>
                <p class="lead">Book a timeslot that works for you.</p>
                <p class="lead">Join a room with a certified therapist or counsellor.</p>
            </div>
        </div>
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}