{% extends 'pages/base.html' %}
{% load static %}

{% block title %} Pricing {% endblock %}

{% block content %}

<section class="container-fluid pricing d-flex align-items-center">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <h1 class="text-center my-4 py-3 display-3 font-manrope">Pick what works best for your employees.</h1>
        </div>
        
        <div class="col-md-3">
            <div class="card bg-midnight-green shadow rounded-0">
                <div class="card-header text-center text-white">Lite</div>
                <div class="card-body">
                    <div class="card-title text-center text-white">$12.5 a month, per user.</div>
                    <ul class="list-group font-montserrat list-group-flush">
                        <li class="list-group-item bg-midnight-green text-center text-white">12 sessions a month per user</li>
                    </ul>
                </div>
                <div class="card-footer bg-midnight-green text-center shadow-sm"><a class="btn btn-primary rounded-0 bg-maximum-red-white" href="{% url 'demo' %}">Request Demo</a></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card bg-midnight-green shadow rounded-0">
                <div class="card-header text-center text-white">Premium</div>
                <div class="card-body">
                    <div class="card-title text-center text-white">$15 a month, per user.</div>
                    <ul class="list-group font-montserrat list-group-flush">
                        <li class="list-group-item bg-midnight-green text-white text-center">20 sessions a month per user</li>
                    </ul>
                </div>
                <div class="card-footer text-center bg-midnight-green shadow-sm"><a class="btn btn-primary rounded-0 bg-maximum-red-white" href="{% url 'demo' %}">Request Demo</a></div>
            </div>
        </div>
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}