{% extends 'pages/base.html' %}
{% load static %}

{% block title %} Pricing {% endblock %}

{% block content %}

<section class="container pricing d-flex align-items-center">
    <div class="row justify-content-center my-5 py-5">
        <div class="col-md-12">
            <h1 class="text-center my-5 py-5 display-3 font-manrope">Pick what works for you. <br><span class="display-4">Cancel at any time with no long-term contracts.</span></h1>
        </div>
        
        <div class="col-sm card p-5 mx-3 my-2 shadow">
            <div class="mb-4">
                <h6>Primary Care</h6>
                <h5 class="display-4 d-block mb-2 font-weight-normal">R120</h5>
                <span class="text-muted text-small">Per Month</span>
            </div>
            <ul class="list-unstyled">
                <li>
                    Receive direct video/audio access to general practitioners.
                </li>
            </ul>
        </div>
        <div class="col-sm card p-5 mx-3 my-2 shadow">
            <div class="mb-4">
                <h6>Mental Health</h6>
                <h5 class="display-4 d-block mb-2 font-weight-normal">R160</h5>
                <span class="text-muted text-small">Per Month</span>
            </div>
            <ul class="list-unstyled">
                <li>
                    Receive direct video/audio access to psychologists.
                </li>
            </ul>
        </div>
        <div class="col-sm card p-5 mx-3 my-2 shadow">
            <div class="mb-4">
                <h6>Complete</h6>
                <h5 class="display-4 d-block mb-2 font-weight-normal">R260</h5>
                <span class="text-muted text-small">Per Month</span>
            </div>
            <ul class="list-unstyled">
                <li>
                    Receive direct video/audio access to both psychologists and general practitioners.
                </li>
            </ul>
        </div>
        
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}