{% extends 'pages/base.html' %}
{% load static %}

{% block title %} Pricing {% endblock %}

{% block content %}

<section class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-md-12">
            <h1 class="text-center my-4 py-3">Pick what works best for your employees.</h1>
        </div>
        
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0">
                <div class="card-header text-center">Lite</div>
                <div class="card-body">
                    <div class="card-title text-center">$12.5 a month, per user.</div>
                    <ul class="list-group font-montserrat list-group-flush">
                        <li class="list-group-item text-center">12 sessions a month per user</li>
                    </ul>
                </div>
                <div class="card-footer text-center bg-white shadow-sm"><a class="btn btn-primary rounded-0" href="{% url 'demo' %}">Request Demo</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card shadow-sm rounded-0">
                <div class="card-header text-center">Premium</div>
                <div class="card-body">
                    <div class="card-title text-center">$15 a month, per user.</div>
                    <ul class="list-group font-montserrat list-group-flush">
                        <li class="list-group-item text-center">20 sessions a month per user</li>
                    </ul>
                </div>
                <div class="card-footer text-center bg-white shadow-sm"><a class="btn btn-primary rounded-0" href="{% url 'demo' %}">Request Demo</a></div>
            </div>
        </div>
    </div>
</section>

{% include 'pages/footer.html' %}

{% endblock %}