{% extends 'provider/base.html' %}

{% block title %} Your schedule {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-md-10">
            <div class="card px-4 py-4 shadow" id="step-4">
                <div class="clearfix">
                    <a class="btn btn-info left mr-2 bg-caribean-green" href="{% url 'add_schedule' %}" id="step-3"> Add a timeslot </a>
                    <a class="btn btn-info left bg-midnight-green" href="{% url 'provider_schedule' %}?{{ prev_month }}"> Previous Month </a>
                    <a class="btn btn-info right bg-midnight-green" href="{% url 'provider_schedule' %}?{{ next_month }}"> Next Month </a>
                </div>
                {{calendar}}
            </div>
        </div>
    </div>
</div>
{% endblock %}