body {
    font-family: 'Archivo Black', sans-serif;
}

.lead, .navbar {
    font-family: 'Montserrat', sans-serif;
}
.team {
    width: 150px;
    height: 150px;
}

/* Font styles */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}