body {
    font-family: 'Archivo Black', sans-serif;
}

.lead, .navbar {
    font-family: 'Montserrat', sans-serif;
}
.team {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #005C69;
    color: white;
}
.footer-link {
    color: white;
}

/* Font styles */
.font-montserrat {
    font-family: 'Montserrat', sans-serif;
}

/* Hover styles */
.nav-link:hover {
    border-bottom: 2px solid #005C69;
}