body {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

/* Logo */
.logo {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 500;
}

.lead, .navbar {
    font-family: 'Poppins', sans-serif;
}
.team {
    width: 150px;
    height: 150px;
}

/* Sections */
.footer, .talk {
    color: white;
}

/* Footer */
.footer-link {
    color: #fff;
}
.footer-link:hover {
    color: #fff;
}

/* Background Styles */
.bg-midnight-green {
    background-color: #073B4C;
}
.bg-caribbean-green {
    background-color: #06D7A0;
}
.bg-maximum-red {
    background-color: #D62828;
}
.bg-midnight-green-white {
    background-color: #073B4C;
    border: 2px solid #073B4C;
    color: #FFFFFF;
}
.bg-midnight-green-white:hover {
    background-color: #073B4C;
    border: 2px solid #073B4C;
    color: #FFFFFF;
}
.bg-caribbean-green-white {
    background-color: #06D7A0;
    border: 2px solid #06D7A0;
    color: #FFFFFF;
}
.bg-caribbean-green-white:hover {
    background-color: #06D7A0;
    border: 2px solid #06D7A0;
    color: #FFFFFF;
}
.bg-maximum-red-white {
    background-color: #D62828;
    border: 2px solid #D62828;
    color: #FFFFFF;
}
.bg-maximum-red-white:hover {
    background-color: #D62828;
    border: 2px solid #D62828;
    color: #FFFFFF;
}

/* Font styles */
.font-manrope-bold {
    font-family: 'Manrope Bold', sans-serif;
    font-weight: 700;
}
.font-poppins-light {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}
.font-grotesk {
    font-family: 'Space Grotesk', sans-serif;
    font-size: 2em;
}

/* Hover styles */
.nav-link:hover {
    border-bottom: 2px solid #D62828;
}

/* About Page styling */
.person {
    width:500px;
    height: 200px;
}