{% extends 'onboard/base.html' %}
{% load crispy_forms_tags %}

{% block title %} Welcome to Onboarding {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-5 my-5">
            <form method="POST">
                {% csrf_token %}
                <label class="display-4 text-white mb-3">Add your address</label>
                <div class="card shadow-sm">
                    <div class="card-header bg-white text-center p-3 h5">Step 2 of 2</div>
                    <div class="card-body p-4">
                        {{ form|crispy }}
                    </div>
                </div>
                <button class="btn btn-primary my-3 w-25" type="submit">Finish</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}