{% extends 'onboard/base.html' %}

{% block title %} Welcome to Onboarding {% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center my-5">
        <div class="col-md-5 my-5 py-5">
            <div class="card shadow-sm">
                <div class="card-header bg-white text-center p-4">Welcome to Vitalio! | Step 1 of 3</div>
                <div class="card-body">
                    <h6 class="p-5">Let's start you off by setting up your profile and then you're done.</h6>
                </div>
            </div>
            <a href="{% url 'onboard_admin_profile' %}"><button class="btn btn-primary my-3 px-5 bg-maximum-red-white">Start</button></a>
        </div>
    </div>
</div>
{% endblock %}